<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer1.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <img src="{{node.imgsrc}}" width="25%" height="25%"/>
    {{node.title}}
    ￥<span style="font-size: 16pt;">{{node.price | number}}</span>
  </div>
</script>


<script type="text/ng-template" id="nodes_renderer2.html">
  <div class="tree-node">
    <div class="pull-left tree-handle" >
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <div class="tree-node-content">
      <img src="{{node.imgsrc}}" width="25%" height="25%"/>
      ￥<span style="font-size: 16pt;">{{node.price | number}}</span>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </div>
</script>

<div class="row">
    <h3>検索項目</h3>
    <select>
      <option value=""></option>
      <option value="たべる">たべる</option>
      <option value="あそぶ">あそぶ</option>
      <option value="まなぶ">まなぶ</option>
      <option value="いやす">いやす</option>
    </select>
</div>

<div class="row">
  <div class="col-sm-6">

    <h3>検索結果一覧</h3>
    <div ui-tree id="tree1-root" data-clone-enabled="true" data-nodrop-enabled="true">
      <ol ui-tree-nodes="" ng-model="tree1">
         <li ng-repeat="node in tree1" ui-tree-node ng-include="'nodes_renderer1.html'">
         </li>
       </ol>
    </div>
  </div>

  <div class="col-sm-6">
    <h3>マイスケジュール</h3>
    <div ui-tree id="tree2-root" data-clone-enabled="true">
      <ol ui-tree-nodes="" ng-model="tree2">
        <li ng-repeat="node in tree2" ui-tree-node ng-include="'nodes_renderer2.html'"></li>
      </ol>
    </div>
    <div class="col-sm-6">
      <span style="font-size: 20pt;">合計金額:￥{{ getAmount() | number }}</span>
    </div>
  </div>

</div>

<!--
<h3>Data binding</h3>
<div class="row">
  <div class="col-sm-6">
    <pre class="code">{{ tree1 | json }}</pre>
  </div>

  <div class="col-sm-6">
    <pre class="code">{{ tree2 | json }}</pre>
  </div>
</div>
-->
